.content {
    margin-top: 10px;
    height: calc(100% - 50px);
    
    display: flex;
    flex-direction: row;
}


@media (max-width: 767px) {
    .content {
        height: 100%;
        position: relative;
        flex-direction: column;
    }
    
}