.direction {
    position: relative;
}

.address-search {
    width: 100%;
    min-width: 600px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: absolute;
    z-index: 10;
}

.button {
    position: relative;

    &--group {
        :nth-child(2n) {
            margin-left: 10px;
        }

        .add {
            // right: 10px;
        }
        
    }
}

